<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.avengers.musinsa.mapper.CartMapper">

    <select id="getProductsInCart"
            resultType="com.avengers.musinsa.domain.user.dto.ProductsInCartInfoResponse">
        SELECT p.PRODUCT_ID               AS productId,
               p.PRODUCT_NAME             AS productName,
               p.PRICE * uc.CART_QUANTITY AS totalPrice,
               uc.CART_OPTION             AS optionName,
               uc.CART_QUANTITY           AS quantity,
               b.BRAND_NAME_KR            AS productBrand,
               img.IMAGE_URL              AS imageUrl
        FROM USER_CARTS uc
                 JOIN PRODUCTS p
                      ON p.PRODUCT_ID = uc.PRODUCT_ID
                 LEFT JOIN PRODUCT_IMAGES img
                           ON p.PRODUCT_ID = img.PRODUCT_ID
                               AND img.IMAGE_TYPE = 'MAIN'
                 LEFT JOIN BRANDS b
                           ON p.BRAND_ID = b.BRAND_ID
        WHERE uc.USER_ID = #{userId}
        ORDER BY uc.CREATED_AT DESC
    </select>
</mapper>
