<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.avengers.musinsa.mapper.OrderMapper">
    <!--주문자 기본정보 조회 -->
    <select id="getUserInfo" resultType="com.avengers.musinsa.domain.order.dto.response.UserInfoDTO" parameterType="Long">
        SELECT
            u.user_id as userId,
            u.user_name as userName,
            ua.phone_number as phoneNumber,
            ua.address_line1 || ' ' || ua.address_line2     AS location
        FROM USERS u
            join  user_addresses ua ON u.user_id = ua.user_id
        WHERE u.user_id  = #{userId}
          AND ua.is_default = 1
    </select>

    <select id="getOrder" resultType="com.avengers.musinsa.domain.order.entity.Order" parameterType="Long">
        select
            o.order_id as orderId,
            o.user_id as userId,
            o.user_address_id as userAddressId,
            o.shipping_id as shipmentId,
            o.payment_method_id as paymentMethodId,
            o.order_code as orderCode,
            o.total_price as totalPrice,
            o.order_discount_amount as orderDiscountAmount,
            o.final_price as finalPrice,
            o.order_status as orderStatus,
            o.created_at as orderDateTime,
            o.recipient_phone as recipientPhone,
            o.recipient_name as recipientName,
            o.recipient_address as recipientAddress,
            o.postal_code as postalCode

        from orders o
        where o.order_id = #{orderId}
    </select>

    <select id="findOrderItems" resultType="com.avengers.musinsa.domain.order.entity.Order" parameterType="Long">
        SELECT
            b.brand_id,
            b.brand_name_kr,
            b.brand_name_eng,
            b.brand_image,
            p.product_id,
            p.product_name,
            p.price,
            oi.order_id,
            oi.quantity,
            oi.unit_price,
            oi.discount_rate,
            oi.total_price
        FROM order_items oi
                 JOIN products p ON oi.product_id = p.product_id
                 JOIN brands b ON p.brand_id = b.brand_id
                 LEFT JOIN product_images pi ON p.product_id = pi.product_id AND pi.image_type = 'MAIN'
        WHERE oi.order_id = #{orderId}
    </select>

</mapper>