<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper>
    <select id="findByUserId" resultType="com.avengers.musinsa.domain.shipments.dto.ShippingAddressDTO" parameterType="Long">
        SELECT
            ua.address_id AS shippingId,
            ua.recipient_name AS recipientName,
            ua.phone_number AS recipientPhone,
            ua.address_line1 || ' ' || ua.address_line2 AS recipientAddress,
            ua.postal_code AS postalCode,
            ua.detail_address AS detailAddress
        FROM user_addresses ua
        WHERE ua.user_id = #{userId}
        ORDER BY ua.is_default DESC, ua.address_id ASC


    </select>
</mapper>
